
:root{
    --font-family: 'Lato', sans-serif;
    --bg-color: #EFEFEF;
    --second-bg-color:  #2C3E50;
    --text-color: #ECF0F1;
    --btn-color: #E74C3C;
    --links-color: #3498DB;

}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}
#header{
  background-color: var(--second-bg-color);
  color: var(--text-color);
  padding: 20px;
}
#logo-title{
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  /* background-color: var(--bg-color); */
}